<!DOCTYPE HTML>
{%load pagination_tags%}
 {%load bootstrap%}
 {% bootstrap_css %}
 <script type="text/javascript" src="static/js/jquery.js">
</script>
   <script type="text/javascript">
  function validate_length () {
    q=document.getElementById('len').value;   
    if (q.length<3) {
      document.getElementsByName('query')[0].value="";
      document.getElementsByName('query')[0].placeholder="enter atleast three letters";
      return false
    };
  }
  function confirm_to_delete() {
    var r=confirm("Do you really want to delete the company..??");
    if (r==false){
      return false
    }
    // body...
  }

  </script>
 {% bootstrap_js modal transition %}
 <style type="text/css">
body .my-modal-width {
    /* new custom width */
    width: 750px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -375px;
}
.table{
  width: 900px;
}
 </style>
 {%autopaginate emps 10%}
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="home_page">Home</a>
    <ul class="nav">
      <li class="span2"><a href="/index">Index</a></li>
    </ul>
    <ul class='nav pull-right'>
      <li><a href="/mylogout">Sign out</a></li>
    </ul>
  </div>
</div>
<form method="get" action="search_result" class="form-search offset11" onsubmit="return validate_length()">
  <div class="input-prepend input-append">
    <select class='span1' name='search_option'>
      <option>My</option>
      <option>Public</option>
      <option>Private</option>
      <option>Company</option>
    </select>
    <input type="text" class="input-medium search-query span3" name="query" id="len">
  <button type="submit" class="btn btn-primary">Search</button>
</div>
</form>
<br><br><br>
<table class="table table-hover table-bordered offset2">
  <tr class="info">
    <td>
      employees
    </td>
    <td>
      Delete Employee
    </td>
    <td>
    Update
  </td>
  </tr>
  {%for emp in emps%}
<tr>
  <td>
    {{emp.employee_id}}
  </td>
  <form action="delete_employee" method="POST">
    <td>
      <input type='hidden' name="employee_name" value={{emp.employee_id}}>
      <input type='submit' value='delete' class='btn btn-link'/>
    </td>
  </form>
    <td>
      <a href="/view_of_update_employee/{{emp.employee_id}}">update</a>
    </td> 
</tr>
  {%endfor%}
</table>
<div class="text-center">
{%paginate%}
</div>
<form method='POST' action='create_employee'>
<div id="myModal" class="modal hide fade my-modal-width" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Enter Employee Detail</h3>
  </div>
  <div class="modal-body modal-body-height">
First Name: <input type='text'required name= 'f_name' placeholder="First Name">
<input type='text' class="offset2" name= 'l_name' placeholder="Last Name"/>
<div>
User name: <input type='text' required name= 'name' placeholder="User Name">
<input type='password' class="offset2"  required placeholder="password" name="password" left>
</div>
<div class="row-fluid">
Project name<input type='text' class="span4" placeholder="project associated with" name="project_name">
 <textarea class="offset2" placeholder="project_desc" name= 'project_Desc'></textarea>
</div>
<div>
Address: <textarea placeholder="address" name= 'address'></textarea>
</div>
<div>
Contact Number: <input type='tel' required placeholder="contact number" name="phone">
</div>
<div>
Email ID: <input type='email' required placeholder="email id" name="email_id">
</div>
<div>
Facebook Id: <input type='email' placeholder="facebook id" name= 'fb_id'>
</div>
<div>
Twitter Id: <input type='email' placeholder="twitter_id" name= 'tw_id'>
</div>
<div>
Role: <select name='role'>
{% for obj in a %}
<option>
{{obj.role_name}}
</option>
{%endfor%}
</select>
</div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <input type="submit" class="btn btn-primary" >
  </div>
</div>
        </form>
<div style="padding-bottom: 24px;">
            <a data-toggle="modal" href="#myModal" class="btn btn-info">Add Employee</a>
          </div>
            <a href="delete_company" onclick="return confirm_to_delete()">Delete Company</a>
