<!DOCTYPE HTML>
 {%load bootstrap%}
 {% bootstrap_css %}
  {% load dajaxice_templatetags %}
{% dajaxice_js_import %}
<script type="text/javascript" src="static/js/jquery.js">
</script>
<script type="text/javascript">
function my_js_callback(data){
  // alert(data.message)
  if (data.message==null){
    document.getElementById('msg').innerHTML=''
    document.getElementById('text').style.backgroundColor='#FFFFFF'
      }
  else{
        document.getElementById('text').value=''
    document.getElementById('text').style.backgroundColor='#E1CA46'
    document.getElementById('msg').innerHTML='This username is already taken'
  }
}
</script>
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="home_page">Home</a>
    <ul class="nav">
      <li class=" span2"><a href="/index">Index</a></li>
      <li class=" offset12"><a href="/mylogout">Sign out</a></li>
    </ul>
  </div>
</div>
<form method="post" action="create_company" class="form-horizontal">
	<fieldset>
		{% csrf_token %}
		<legend>view_of_create_company</legend>
		<div class="controls">
			<legend>enter details of company</legend>
		</div>
		<div class="control-group">
			<div class="controls">
				<p id='msg' class='text-warning'></p>
				<input type='text' required name='name'  id='text' required onfocusout="Dajaxice.sharing.sayhello(my_js_callback, {'text':$('#text').val()})" placeholder="username">
			</div>
		</div>
		<div class="control-group">
			<div class="controls">		
				<input type='password' required name='password' placeholder="password">
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type='text' name='address' placeholder="address">
			</div>
		</div>	
		<div class="control-group">
			<div class="controls">
				<input type='tel' required name='phone' placeholder="contact number"> 
			</div>
		</div>
		<div  class="control-group">
			<div class="controls">
<!-- 			<div class="input-prepend">
					<span class="add-on">http:www.</span> -->
				<input type='url' name='website' placeholder="website">
			<!-- </div> -->
			</div>
		</div>		    
		<div  class="control-group">
			<div class="controls">
				<input type='email' required name='email_id' placeholder="email address"> 
			</div>
		</div>
		<div  class="control-group">
			<div class="controls">
				<input type='email' name='fb_id' placeholder="facebook id"> 
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type='email' name='twitter_id' placeholder="twitter id"> 
			</div>
		</div>
<div class="controls">
<input type='submit' class="btn btn-primary"> 
</div>	
 </fieldset>
</form>
</body>
</html>