 {%load bootstrap%}
 {% bootstrap_css %}
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="home_page">Home</a>
    <ul class="nav">
      <li class=" span2"><a href="/index">Index</a></li>
      <li class=" offset12"><a href="/mylogout">Sign out</a></li>
    </ul>
  </div>
</div>
<form method='post' action='delete_company' class="form-horizontal">
	{%csrf_token%}
<div class="control-group">
	<div class="controls">
		<select name='company_name'>
		{% for obj in a %}
		<option>
		{{obj.company_id}}
		</option>
		{%endfor%}
		</select>
	</div>
</div>
<div class="control-group">
	<div class="controls">
		<input type='submit' value="delete"/>
	</div>
</div>
</form>