 {%load bootstrap%}
 {% bootstrap_css %}
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Home</a>
    <ul class="nav">
      <li class="active span2"><a href="/index">Index</a></li>
      <li class="active offset12"><a href="/mylogout">Sign out</a></li>
    </ul>
  </div>
</div>
<form method="post" action="create_company" class="form-horizontal">
	<fieldset>
		{% csrf_token %}
		<legend>view_of_create_company</legend>
		<div class="controls">
			<legend>enter details of company</legend>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type='text' required name='name' placeholder="username">
			</div>
		</div>
		<div class="control-group">
			<div class="controls">		
				<input type='password' required name='password' placeholder="password">
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type='text' name='address' placeholder="address">
			</div>
		</div>	
		<div class="control-group">
			<div class="controls">
				<input type='tel' required name='phone' placeholder="contact number"> 
			</div>
		</div>
		<div  class="control-group">
			<div class="controls">
<!-- 			<div class="input-prepend">
					<span class="add-on">http:www.</span> -->
				<input type='url' name='website' placeholder="website">
			<!-- </div> -->
			</div>
		</div>		    
		<div  class="control-group">
			<div class="controls">
				<input type='email' required name='email_id' placeholder="email address"> 
			</div>
		</div>
		<div  class="control-group">
			<div class="controls">
				<input type='email' name='fb_id' placeholder="facebook id"> 
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type='email' name='twitter_id' placeholder="twitter id"> 
			</div>
		</div>
<div class="controls">
<input type='submit' class="btn btn-primary"> 
</div>	
 </fieldset>
</form>
</body>
</html>