 {%load bootstrap%}
 {% bootstrap_css %}
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="home_page">Home</a>
    <ul class="nav">
      <li class=" span2"><a href="/index">Index</a></li>
   
      <li class=" offset4"><a href="/mylogout">Sign out</a></li>
    </ul>
  </div>
</div>
<form method= 'POST' action= 'create_employee' class="form-horizontal">
	{%csrf_token%}
	<div class="control-group">
		<div class="controls">
			<input type='text' required name= 'name' placeholder="name"/>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<input type='password' required placeholder="password" name= 'password'/>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<input type='text' required placeholder="company name" name='c_name'>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<input type='text' placeholder="project associated with" name= 'project_name'/>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<textarea placeholder="project_desc" name= 'project_Desc'/></textarea>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<input type='text' placeholder="address" name= 'address'/> 
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<input type='tel' required placeholder="contact number" name= 'phone'/>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<input type='email' required placeholder="email id" name= 'email_id'/>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<input type='email' placeholder="facebook id" name= 'fb_id'/>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<input type='email' placeholder="twitter_id" name= 'tw_id'/>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<select name='role'>
			{% for obj in a %}
			<option>
			{{obj.role_name}}
			</option>
			{%endfor%}
			</select>
		</div>
	</div>
		<div class="control-group">
		<div class="controls">
			<input type='submit'>
		</div>
	</div>
</form>