<!DOCTYPE HTML>
 {%load bootstrap%}
 {% bootstrap_css %}
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="home_page">Home</a>
    <ul class="nav">
      <li class="span1 divider-vertical "><a href="/index">Index</a></li>
      <li class="offset12"><a href="/mylogout">Sign out</a></li>
    </ul>
  </div>
</div>
{% for file in files %}
<!-- <a href="tinymce/preview/{{file.file_to_upload}}">dd</a>
 --><a href="media/{{file.file_to_upload}}">{{file.file_to_upload}}</a>
<br>
{% endfor %}
<form method="get" action="search_result" class="form-search offset12">
 <input type="text" class="input-medium search-query" name="query">
  <button type="submit" class="btn btn-primary">Search</button>
</form>
<br><br><br>
<table class="table table-hover" name='file_to_delete'>
  <tr>
    <th>emp name</th>
    <th>file name</th>
    <th></th>
  </tr>
    <tr>
    {%for f in name%}
      <td>
          {{f.employee_who_added_file.employee_id.username}}
      </td>
        <td>

          {{f.file_name}}
        </td> 
              <td>
              <!-- <a href="tinymce/preview/{{f.file_to_upload}}">jj</a> -->
 <!-- <form action='tinymce/preview/' metho='post'>
<input type="text" value="{{f.file_to_upload.name}}" name="tinymce-preview">
<input type="submit"/>
 </form> -->

                <a href='media/{{f.file_to_upload.name}}'>view</a></td>

    </tr>
    {%endfor%}
</table>
<a href="/view_of_upload_file"><input type='submit' class='btn btn-info' value='add new file'></a> 
 <a href="/index"><input type='submit' class='btn btn-info' value='my files'></a>