<!DOCTYPE HTML>
{%load bootstrap%}
 {% load dajaxice_templatetags %}
{% dajaxice_js_import %}
<script type="text/javascript" src="static/js/jquery.js">
</script>
<script type="text/javascript">
// Dajaxice.simple.my_function(callback, {'user': 'tom'}, {'error_callback': custom_error});
function my_js_callback(data){
  // alert(data.message)
  if (data.message==null){
    document.getElementById('msg').innerHTML=''
    document.getElementById('text').style.backgroundColor='#FFFFFF'
      }
  else{
        document.getElementById('text').value=''
    document.getElementById('text').style.backgroundColor='#E1CA46'
    document.getElementById('msg').innerHTML='This username is already taken'
  }
}
</script>
<style type="text/css">
body .my-modal-width {
    /* new custom width */
    width: 750px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -375px;
}
</style>
 {% bootstrap_js modal transition %}
 {% bootstrap_css %}
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="home_page">Home</a>
    <ul class="nav">
      <li class="span2 divider-vertical"><a href="/index">Index</a></li>
    </ul>
      {% if not user.is_authenticated %}

    <ul class='nav pull-right'>
        <li><a data-toggle="modal" href="#signup">sign up</a></li>
        <li ><a data-toggle="modal" href="#myModal">Login</a></li>
    </ul>
      {% else%}
    <ul class='nav pull-right'>
      <li><a href="/mylogout">Sign out</a></li>
    </ul>
      {% endif %}
  </div>
</div>
<form method='POST' action='mylogin'>
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Enter Your Login Detail</h3>
  </div>
  <div class="modal-body">
    <input type='text' name='username'/>
    <input type='password' name='password'/>
  </div>
  <div class="modal-footer">
   <input type="submit" class="btn btn-primary">
  </div>
</div>
</form>
<form method='POST' action='sign_up'>
<div id="signup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="signuplabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="signuplabel">Enter Your Detail</h3>
  </div>
  <div class="modal-body">
<p id='msg' class='text-warning'></p>
your name<input type='text' id='text' required onfocusout="Dajaxice.sharing.sayhello(my_js_callback, {'text':$('#text').val()})" name= 'e_name' placeholder="your name">
<div>
password<input type='password' required name= 'e_password'/ placeholder="password">
</div>
<div>
address<input type='text' name= 'e_address' placeholder="your address"/>
</div>
<div>
contact number<input type='tel' required name= 'e_phone'/ placeholder="your contact number">
</div>
<div>
email id<input type='email' required name= 'e_email_id'/ placeholder="your email id">
</div>
<div>
facebook id<input type='email' name= 'e_fb_id'/ placeholder="facebook address">
</div>
<div>
twitter id<input type='email' name= 'e_tw_id'/ placeholder="twitter address">
</div>
</div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <input type="submit" class="btn btn-primary">
  </div>
</div>
        </form>
<div style="padding-bottom: 24px;">
          </div>