<!DOCTYPE HTML>
 {%load bootstrap%}
 {% bootstrap_css %}
{% load dajaxice_templatetags %}
{% dajaxice_js_import %}
<script type="text/javascript" src="static/js/jquery.js">
</script>
<script type="text/javascript">
function my_js_callback(data){
	if (data.message==null){
		document.getElementById('text').value=''
		document.getElementById('text').placeholder='sorry this name is not available'
	}
	else{
		alert(data.message);
	}
}
</script>
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="home_page">Home</a>
    <ul class="nav">
      <li class="span2"><a href="/index">Index</a></li>
    </ul>
    
    <ul class='nav pull-right'>
      <li><a href="/mylogout">Sign out</a></li>
    </ul>
  </div>
</div>
{{error}}
<form method="post" action="{%url 'sign_up' %}" class="form-horizontal">
	<fieldset>
		{% csrf_token %}
		<div class="controls">
			<legend>enter your details</legend>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="text" id="text" required onfocusout="Dajaxice.sharing.sayhello(my_js_callback, {'text':$('#text').val()})">
				<input type='text' required name= 'e_name' placeholder="your name">
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type='password' required name= 'e_password'/ placeholder="password">
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type='text' name= 'e_address' placeholder="your address"/> 
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type='tel' required name= 'e_phone'/ placeholder="your contact number">
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type='email' required name= 'e_email_id'/ placeholder="your email address">
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type='email' name= 'e_fb_id'/ placeholder="facebook address">
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type='email' name= 'e_tw_id'/ placeholder="twitter address">
			</div>
		</div>
		<div class="controls">
			<input type='submit' class="btn btn-primary"> 
		</div>	
 	</fieldset>
	</form>
</body>
</html>